/* Styling for the /blog page */

/* Blog nav */

#secondary-nav-container {
    display: flex;
    max-width: 90%;
    width: 900px;
    margin: auto;
    align-items: flex-end;
    flex-flow: row wrap;
}

#secondary-nav-elements {
    flex-grow: 1;
}

#secondary-nav-elements h2 {
    text-align: center;
}

#secondary-nav-elements h2 a{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    color: #c295ff;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

#nav-container {
    background: #ffffff;
    padding-bottom: 25px;
}

#nav-elements li a {
    color: #6f6f6f;
}

#nav-elements li a:hover{
    color: #c295ff;
}

/* Medium embed stylings */

#latest h4 {
    text-align: center;
    color: #6f6f6f;
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 15px;
}

#blog-area {
    background-color: #FFFFFF;
    padding-top: 15px;
}
#blog-content {
	margin: auto;
}

#blog-entry {
	padding: 15px;
    margin: auto;
}

#blog-entry iframe{
    width: 650px;
    margin: auto;
}

#medium {
	text-align: center;
    color: #6f6f6f;
    font-style: italic;
    font-size: 1rem;
    padding-bottom: 50px;
}

#medium a{
	text-align: center;
    color: #6f6f6f;
    font-style: italic;
    font-size: 1rem;
}

/* Footer */

#footerbackground {
	background: #ffffff;
    margin-top: 0px;
}

#footer {
    background: #ffffff;
    height: 160px;
    display: flex;
    font-size: .9rem;
    color: #6f6f6f;
    margin: auto;
    max-width: 900px;

}

#footer #links-section {
    flex: 1;
}

#footer #links-section ul {
    list-style-type: none;
    
}

#footer #links-section ul li a{
    color: #6f6f6f;
}

#footer #contact-area {
    text-align: right;
    margin-right: 30px;
}

#footer #contact-area a{
    color: #6f6f6f;
}

#footer #contact-area img{
    width: 20px;
}