/* Styling for the /blog page */

/* Blog nav */

#nav-container {
    background: #ffff00;
    padding-bottom: 15px;
}

#nav-elements li a {
    color: #00d08d;
}

/* Medium embed stylings */

#blog-content iframe {
    margin: 0 auto;
}
