/* Styling for the /contact page */

.contact-box {
    padding-bottom: 100px;
    padding-top: 30px;
    background-color: #F2F2F2;

}

.contact-box h2{
    text-shadow: 3px 0 #D9A2A9;
}

.contact-section{
    display: flex;
    justify-content: center;
}


.form-title {
    color: #4A4A4A;
    text-align: center;
    font-size: 32px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.forms{
    color: #4A4A4A;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}


.line {
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    padding-left: 10px;
    color: #4A4A4A;
    border-style: solid;
    border-width: 0px;
    border-color: white;
}

#textarea {
    height: 120px;
    width: 500px;
    resize: none;
    margin-top: 5px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    padding-left: 10px;
    padding: 10px;
    color: #4A4A4A;
    border-style: solid;
    border-width: 0px;
    border-color: white;
}

#submit-button-container {
    margin: 0px;
    padding: 0;
    display: block;
    width: 323px;
    height: 93px;
    margin-top: 10px;
    margin: auto;
}

#submit-button {
    margin: 0px;
    padding: 0px;
    display: block;
}

#submit-button-text {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 45px;
    left: 128px;
}

/* BIG SCREEN */

@media (min-width: 625px) {


.info-container {
    width: 153px;
    margin-left: 40px;
    margin-top: 23px;
}

.contact-info h1{
    font-family: 'Rubik', sans-serif;
    letter-spacing: .85px;
    font-size: 22px;
    color: #4A4A4A;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.contact-info p{
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 25px;
}

.contact-info a{
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 25px;
    color: #4A4A4A;
}

}

/* SMALL SCREEN */

@media (max-width: 625px) {

.info-container {
    width: 153px;
    margin-left: 40px;
    margin-top: 23px;
    display: none;
}

.contact-info h1{
    font-family: 'Rubik', sans-serif;
    letter-spacing: .85px;
    font-size: 22px;
    color: #4A4A4A;
    padding-bottom: 0px;
    margin-bottom: 0px;
    display: none;
}

.contact-info p{
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 25px;
    display: none;
}

.forms {
    width: 90%;
}

.line, #textarea {
    padding-left: 0;
    width: 100%;
}

}


