/* Main CSS file for AllisonMilchling.com */

/* Fonts */
h1 {
    font-size: 26px;
    font-family: 'Lato', sans-serif;
}


#me {
    font-size: 26px;
    font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: .85px;
    color: #C295FF;
    font-weight: 700;
}


h2 {
    font-size: 22px;
    font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: .85px;
    font-weight: 700;
}


h3 {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #3F3F3F;
}

h4 {
    font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: .85px;
    color: white;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
}


a, p, address, li {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}


/* General Fixes */

body {
    margin: 0;
}


/* SMALL SCREEN */

@media (max-width: 749px) {


/* SMALL NAV BAR */
.s-nav-container {
    display: flex;
    justify-content: space-between;
    height: 87px;
    box-shadow: 0px 2px 6px 0px #EAEAEA;
}


.s-site-title {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-top: 30px;
}


.s-site-name {
    list-style-type: none;
    color: #C295FF;
    margin: 0;
    padding: 0;
    display: none;
}

.s-site-initial {
    list-style-type: none;
    color: #C295FF;
    margin: 0;
    padding: 0;
    letter-spacing: 3px;
}

.s-site-description {
    margin: 0;
    padding: 0;
    display: none;
}


.s-nav-list {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    color: #3F3F3F;
    margin: 0;
    padding: 0;
    padding-top: 32px;
    padding-right: 20px;
}


.s-nav-option {
    margin-left: 20px;
    padding-bottom: 1px;
}


.s-nav-option:hover {
    margin-left: 20px;
    border-bottom: 2.5px solid #ECDFFF;
}


.s-nav-option-selected {
    margin-left: 30px;
    padding-bottom: 1px;
    border-bottom: 2.5px solid #C295FF;
}

/* SMALL FOOTER */

.s-footer-box {
    margin-top: 70px;
    background-color: #F8F8F8;
    height: 160px;
}

.s-footer-container {
    margin: auto;
}

.s-footer-social {
    padding-top: 31px;
    margin: auto;
    text-align: center;
}

.s-footer-email {
    padding: 0px;
    margin: 0px;
    text-align: center;
}


.s-footer-copy {
    padding: 0px;
    margin: 0px;
    text-align: center;
}
}


/* BIG SCREEN */

@media (min-width: 750px) {

/* BIG NAV BAR */
.nav-container {
    display: flex;
    justify-content: space-between;
    height: 87px;
    box-shadow: 0px 2px 6px 0px #EAEAEA;
}


.site-title {
    margin: 0;
    padding: 0;
    padding-left: 40px;
    padding-top: 19px;
}


.site-name {
    list-style-type: none;
    color: #C295FF;
    margin: 0;
    padding: 0;
}

.site-initial {
    list-style-type: none;
    color: #C295FF;
    margin: 0;
    padding: 0;
    display: none;
}


.site-description {
    margin: 0;
    padding: 0;
}


.nav-list {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    color: #3F3F3F;
    margin: 0;
    padding: 0;
    padding-top: 32px;
    padding-right: 40px;
}


.nav-option {
    margin-left: 30px;
    padding-bottom: 1px;
}


.nav-option:hover {
    margin-left: 30px;
    border-bottom: 2.5px solid #ECDFFF;
}


.nav-option-selected {
    margin-left: 30px;
    padding-bottom: 1px;
    border-bottom: 2.5px solid #C295FF;
}

/* BIG FOOTER */
.footer-box {
    margin-top: 70px;
    background-color: #F8F8F8;
    height: 87px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: auto;
}

.footer-social {
    padding-left: 40px;
    padding-top: 31px;
}

.footer-email {
    padding: 0px;
    margin: 0px;
    padding-top: 15px;
}


.footer-copy {
    padding: 0px;
    margin: 0px;
    padding-right: 40px;
    padding-top: 15px;
}

}

/* Title Area (Name/Job title) */

#banner {
    margin-top: 70px;
    margin-bottom: 25px;
}


#banner-image {
    margin: auto;
    display: block;
    max-width: 90%;
}

#banner-text {
    margin-top: 20px;
    margin: auto;
    text-align: center;
    width: 530px;
    max-width: 90%;
}

#banner-button-container {
    margin: 0px;
    padding: 0;
    display: block;
    width: 310px;
    height: 74px;
    margin: auto;
}


#banner-button {
    margin: 0px;
    padding: 0px;
    display: block;
}


#banner-button-text {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 37px;
    left: 80px;
    width: 166px;
}
    
/* Projects */

#project-section {
    padding-top: 70px;
    margin: auto;
    max-width: 90%;
    width: 1080px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-container {
    margin: 0px;
    padding: 10px;
    padding-bottom: 0;
    display: block;
    position: relative;
}

/* Overlay text for project image on hover */
.project-overlay-text {
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 10px;
    background: rgba(74, 74, 74, .80);
    color: white;
    padding: 20px;
    width: 340px;
    height: 250px;
    display: none;
}

.project-container:hover .project-overlay-text {
    display: block;
    cursor: pointer;
}

/* Contact CTA */

#ready {
    color: #C295FF;
    text-align: center;
    margin: auto;
    padding: 0px;
    margin-bottom: 5px;
    margin-top: 70px;
    max-width: 90%;
}

#ready-text {
    text-align: center;
    margin: auto;
    padding: 0px;
    width: 600px;
    max-width: 90%;
}

#contact-button-container {
    margin: 0px;
    padding: 0px;
    display: block;
    width: 310px;
    height: 74px;
    margin: auto;
}


#contact-button {
    margin: 0px;
    padding: 0px;
    display: block;
}


#contact-button-text {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 37px;
    left: 103px;
    width: 166px;
}

