/* Main CSS file for AllisonMilchling.com */

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* Fonts */
h1 {
    font-size: 26px;
    font-family: 'Lato', sans-serif;
}


#me {
    font-size: 26px;
    font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: .85px;
    color: #C295FF;
    font-weight: 700;
}


h2 {
    font-size: 22px;
    font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: .85px;
    font-weight: 700;
}


h3 {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #3F3F3F;
}

h4 {
    font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: .85px;
    color: white;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
}


a, address, li {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

p {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #3F3F3F;
}


/* General Fixes */

body {
    margin: 0;
}


/* SMALL SCREEN */

@media (max-width: 749px) {


/* SMALL NAV BAR */
.s-nav-container {
    display: flex;
    justify-content: space-between;
    height: 87px;
    box-shadow: 0px 2px 6px 0px #EAEAEA;
}


.s-site-title {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    padding-top: 30px;
}


.s-site-name {
    list-style-type: none;
    color: #C295FF;
    margin: 0;
    padding: 0;
    display: none;
}

.s-site-initial {
    list-style-type: none;
    color: #C295FF;
    margin: 0;
    padding: 0;
    letter-spacing: 3px;
}

.s-site-description {
    margin: 0;
    padding: 0;
    display: none;
}


.s-nav-list {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    color: #3F3F3F;
    margin: 0;
    padding: 0;
    padding-top: 32px;
    padding-right: 20px;
}

.s-nav-list a{
    color: #3F3F3F;
}

.s-nav-option {
    margin-left: 20px;
    padding-bottom: 1px;
}


.s-nav-option:hover {
    margin-left: 20px;
    border-bottom: 2.5px solid #ECDFFF;
}


.s-nav-option-selected {
    margin-left: 30px;
    padding-bottom: 1px;
    border-bottom: 2.5px solid #C295FF;
}

/* SMALL FOOTER */

.s-footer-box {
    margin-top: 70px;
    background-color: #F8F8F8;
    height: 160px;
}

.s-footer-container {
    margin: auto;
}

.s-footer-social {
    padding-top: 31px;
    margin: auto;
    text-align: center;
}

.s-footer-email {
    padding: 0px;
    margin: 0px;
    text-align: center;
}


.s-footer-copy {
    padding: 0px;
    margin: 0px;
    text-align: center;
}
}


/* BIG SCREEN */

@media (min-width: 750px) {

/* BIG NAV BAR */
.nav-container {
    display: flex;
    justify-content: space-between;
    height: 87px;
    box-shadow: 0px 2px 6px 0px #EAEAEA;
}


.site-title {
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-top: 19px;
}


.site-name {
    list-style-type: none;
    color: #C295FF;
    margin: 0;
    padding: 0;
}

.site-initial {
    list-style-type: none;
    color: #C295FF;
    margin: 0;
    padding: 0;
    display: none;
}


.site-description {
    margin: 0;
    padding: 0;
}


.nav-list {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
    margin-top: 32px;
    margin-right: 40px;
}

.nav-list a{
    color: #3F3F3F;
}


.nav-option {
    margin-left: 30px;
    padding-bottom: 1px;
}


.nav-option:hover {
    margin-left: 30px;
    border-bottom: 2.5px solid #ECDFFF;
}


.nav-option-selected {
    margin-left: 30px;
    padding-bottom: 1px;
    border-bottom: 2.5px solid #C295FF;
}

/* BIG FOOTER */
.footer-box {
    margin-top: 70px;
    background-color: #F8F8F8;
    height: 87px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: auto;
}

.footer-social {
    padding-left: 40px;
    padding-top: 31px;
}

.footer-email {
    padding: 0px;
    margin: 0px;
    padding-top: 15px;
}


.footer-copy {
    padding: 0px;
    margin: 0px;
    padding-right: 40px;
    padding-top: 15px;
}

}

/* Title Area (Name/Job title) */

#banner {
    margin-top: 40px;
    margin-bottom: 25px;
}

#banner p{
    text-align: center;
    font-size: 14px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}


#banner-image {
    margin: auto;
    display: block;
    max-width: 90%;
}

#banner-text {
    margin-top: 20px;
    margin: auto;
    text-align: center;
    width: 530px;
    max-width: 90%;
}

#banner-button-container {
    margin: 0px;
    padding: 0;
    display: block;
    width: 310px;
    height: 74px;
    margin: auto;
}


#banner-button {
    margin: 0px;
    padding: 0px;
    display: block;
}



#banner-button-text {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 37px;
    left: 80px;
    width: 166px;
}
    
/* Projects */

#project-section {
    padding-top: 70px;
    margin: auto;
    max-width: 90%;
    width: 1090px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-container {
    margin: 0px;
    padding: 10px;
    padding-bottom: 5px;
    display: block;
    position: relative;
}

/* Overlay text for project image on hover */
.project-overlay-text {
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 10px;
    background: rgba(74, 74, 74, .80);
    color: white;
    padding: 20px;
    width: 340px;
    height: 250px;
    display: none;
}

.project-overlay-text p {
    color: white;
}

.project-container:hover .project-overlay-text {
    display: block;
    cursor: pointer;
}

/* Contact CTA */

#ready {
    color: #C295FF;
    text-align: center;
    margin: auto;
    padding: 0px;
    margin-bottom: 5px;
    margin-top: 70px;
    max-width: 90%;
}

#ready-text {
    text-align: center;
    margin: auto;
    padding: 0px;
    width: 600px;
    max-width: 90%;
}

#contact-button-container {
    margin: 0px;
    padding: 0px;
    display: block;
    width: 310px;
    height: 74px;
    margin: auto;
}


#contact-button {
    margin: 0px;
    padding: 0px;
    display: block;
}


#contact-button-text {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 37px;
    left: 103px;
    width: 166px;
}

/* Social Icons */


#twitter {
    padding-top: 2.085px;
    margin-right: 10px;
    width: 20px;
}

#linkedin {
    padding-top: 2.27px;
    margin-right: 10px;
    width: 20px;
}

#medium {
    padding-top: 1px;
    margin-right: 10px;
    width: 20px;
}

#pinterest {
    margin-right: 10px;
    width: 20px;
}

#instagram {
    width: 20px;
}

