
@media screen and (max-width: 500px) {
	#mobile-nav2 { display: block; }
    #mobile-nav { display: block; }
    #mobile-contact { display: block; }
    #mobile-contact img { height: 32px; }
    #mobile-nav2 img { height: 32px; }
    #mobile-nav img { height: 32px }
    #nav2 { display: none; }
    #nav { display: none; }
    #contact { display: none; }
}
