.project-title h1{
    font-family: 'Rubik', sans-serif;
    letter-spacing: .85px;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    padding-top: 30px;
    color: #4A4A4A;
    text-shadow: 3px 0 #D9A2A9;

}


.project-image-main img{
	width: 900px;
	max-width: 85%;
	margin: auto;
	display: block;
}

.project-image img{
	width: 900px;
	padding-top: 40px;
	margin: 0;
	max-width: 85%;
	margin: auto;
	display: block;
}

.project-image-grey {
	filter: grayscale(1);
	-webkit-filter: grayscale(1);

}

.case-study {
	width: 1000px;
	max-width: 80%;
	margin: auto;
	display: block;
}

.case-study h2{
	color: #4A4A4A;
	margin-top: 50px;
	margin-bottom: 0px;
	font-size: 26px;
}

.case-study p{
	margin-top: 10px;
	color: #4A4A4A;
}

.case-study a{
	color: #D9A2A9;
	text-decoration: underline;
}

.case-study li{
	margin-bottom: 5px;
	color: #4A4A4A;
}

.nav-box {
    background-color: #F2F2F2; 
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
}

.project-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 80%;
	margin: auto;
}

.project-nav p :hover{
	color: #D9A2A9;
}

#hide {
	opacity: 0;
}

.bold {
	font-weight: 500;
}