.project-title h1{
    font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: .85px;
    color: #C295FF;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
}

.project-image-main img{
	width: 800px;
	max-width: 90%;
	margin: auto;
	display: block;
}

.project-image img{
	width: 600px;
	padding-bottom: 20px;
	max-width: 90%;
	margin: auto;
	display: block;
}

.project-image-last img{
	width: 600px;
	padding-bottom: 0px;
	max-width: 90%;
	margin: auto;
	display: block;
}

.project-image-small {
	display: flex;
	justify-content: space-between;
	width: 600px;
	margin: auto;
}


#project-image-small1 {
	width: 155px;
	height: 222px;
	margin: 0px;
	padding: 0px;
}

.gif img{
	width: inherit;
	max-width: 90%;
	margin: auto;
	display: block;
	padding-bottom: 20px;
}

.case-study {
	width: 900px;
	max-width: 90%;
	margin: auto;
	display: block;
}

.case-study h2{
	color: #C295FF;
	margin-top: 40px;
	margin-bottom: 0px;
}

.case-study p{
	margin-top: 0px;
}

.case-study a{
	color: #3F3F3F;
	text-decoration: underline;
}

.project-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 174px;
	margin: auto;
	margin-top: 70px;
}

#hide {
	opacity: 0;
}

