/* Styling for the project pages */

address {
    font-size: .9rem;
    text-align: center;
}
/* Project nav */

#secondary-nav-container {
    display: flex;
    max-width: 90%;
    width: 900px;
    margin: auto;
    align-items: flex-end;
    flex-flow: row wrap;
}

#secondary-nav-elements {
    flex-grow: 1;
}

#secondary-nav-elements h2 {
    text-align: center;
}

#secondary-nav-elements h2 a{
    font-family: 'Merriweather Sans', sans-serif;
    color: #00d08d;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

#nav-container {
    background: #ffffff;
    padding-bottom: 25px;
}

#nav-elements li a {
    color: #00d08d;
}

#nav-elements li a:hover{
    color: #e5dc00;
}


/* Project content */


#project-area {
    background-color: #FFFF4A;
    padding-top: 15px;
    padding-bottom: 50px;
}

#project-text {
    background-color: white;
    margin: auto;
    max-width: 70%;
    width: 1000px; 
    padding: 80px;
    padding-top: 50px;
}

#project-text h4 {
    color: #00d08d;
    font-size: 1.3rem;
    margin-bottom: 0px;
}

#project-text p {
    font-size: 1.1rem;
}

#one {
    margin: auto;
    text-align: center;
}


#one img {
    width: 500px;
    max-width: 95%;
    padding: 10px;
}

#two {
    margin: auto;
    text-align: center;
}


#two img {
    width: 350px;
    max-width: 95%;
    padding: 10px;
}

#three {
    margin: auto;
    text-align: center;
}


#three img { 
    height: 300px;
    max-width: 95%;
    padding: 10px;
}

#three-gif {
    margin: auto;
    text-align: center;
}


#three-gif img { 
    width: 200px;
    max-width: 95%;
    padding: 10px;
}

#project-nav {
    margin: auto;
    padding-top: 20px;
    font-size: 2.5rem;
    text-align: center;
    color: #00d08d;
}

#project-nav a{
    color: #00d08d;
}


/* Footer */

#footerbackground {
	background: #ffffff;
    margin-top: 0px;
}

#footer {
    background: #ffffff;
    height: 160px;
    display: flex;
    font-size: 1rem;
    color: #00d08d;
    margin: auto;
    max-width: 900px;

}

#footer #links-section {
    flex: 1;
}

#footer #links-section ul {
    list-style-type: none;
    
}

#footer #links-section ul li a{
    color: #00d08d;
}

#footer #contact-area {
    text-align: right;
    margin-right: 30px;
}

#footer #contact-area a{
    color: #00d08d;
}