/* CSS file for case study pages for AllisonMilchling.com */

/* Nav */
#top2 {
display: flex;
justify-content: space-between;
 max-width: 1600px;
  padding-left: 5%;
  padding-right: 5%;
   padding-top: 20px;
   margin: auto;
}

#nav2 {
  display: flex;
  text-decoration: none;
  width: 130px;
  justify-content: flex-start;
 
}

#nav2 a{
    text-decoration: none;
    color: #4a4a4a;
}

#nav2 a:hover {
    text-decoration: none;
    box-shadow: 2px 2px 0px #C58E2A;
    background-color: #fff;
}

#title img{
    max-width: 100%;
    width: 850px;
}

#quote{
  padding-left: 5%;
  font-style: italic;
}

/* Case Study */
#case-study {
    max-width: 1240px;
    padding-left: 40px;
    padding-right: 40px;
}

#case-study h2{
    margin-top: 40px;
    margin-bottom: 0px;
}

#case-study h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

#case-study p{
    margin-top: 0px;
    margin-bottom: 10px;
}

#case-study a{
    color: #4A4A4A;
    text-decoration: none;
}

#case-study a:hover{
    color: #C58E2A;
}

#case-study img{
    max-width: 100%;
    width: 850px;
}

#case-study a img{
    cursor: zoom-in
}

#case-study ul{
  font-family: Lato;
  font-size: 16px;
  text-align: left;
  color: #4a4a4a;ii
}

#case-study li{
  margin-top: 0px;
  margin-bottom: 10px;
}


/* Other Work */
#selected-work2 {
    max-width: 1240px;
}

#selected-work2 h2{
    margin-bottom: 5px;
    padding-bottom: 0;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
}

#work2 {
    display: flex;
    max-width: 880px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 0px;
    margin-top: 0px;
    padding-left: 40px;
}

#work2 h2{
    margin-top: 40px;
    margin-bottom: 0px;
    padding-bottom: 0;
}

#work2 p{
    margin-top: 0px;
    margin-bottom: 40px;
}

#work2 img{
    width: 400px;
    max-width: 100%;
    margin-top: 0;
    padding-top: 0;
}